.hola {
    color: blueviolet;
    font-weight: bolder;
}

.rojo {
    height: 200px;
    width: 200px;
    background-color: aqua+green;
    .azul {
        height: 100px;
        width: 100px;
        background-color: blue+silver;
        p {
            color: ivory;
        }
    }
}
